<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Under Maintainnce</title>
  </head>
  <body>
    <h1>Site is under maintainence</h1>
    <p>Some text here</p>
    {{> footer}}
  </body>
</html>
